             *{
               margin: 0;
               padding: 0;
               box-sizing: border-box;
             }
              
       
       
        body{          
            font-family: 'Poppins', sans-serif;
        }
       .navbar{
           display:flex ;
            text-align:top;
           padding: 20px;
       }

       nav{
           flex: 1;
           text-align: right;
       }
       nav ul{
           display: inline-block;
           list-style-type: none;

       }
       nav ul li {
           display:inline-block ;
           margin-right: 20px;
       }
       a{
           text-decoration: none;
           color: #555;
       }
       p{
           color: #555;
       }
       .container{
           max-width: 1300px;
           margin:auto;
           padding-left: 25px;
           padding-right: 25px;
       }
       

       .row{
           display: flex;
           align-items:center;
           flex-wrap: wrap;
           justify-content: space-around;
    }

      .col-2{
          flex-basis: 50%;
          min-width: 300px;
          
      }
      .col-2 img{
          max-width: 100%;
          padding: 50px 0 ;
      }
      .col-2 h1{
          font-size: 50px;
          line-height: 60px;
          margin: 25px 0px;
      }
      .btn{
          display:inline-block;
         background: #ff523b;
         color: #fff;
         padding: 15px 30px;
         margin: 30px  0;
         border-radius: 30px;
      }
      .small-container{
          max-width: 1080px;
          margin: auto;
          padding-left: 25px;
          padding-right: 25px;
          
      }
      
      .col-1{
          flex-basis: 25% ;
          padding: 10px;
          min-width: 200px;
          margin-bottom: 50px;
      }
      .col-1 img{
          width: 100%;
      }
      .header{
              background: radial-gradient(#fff,#ffd6d6);
      }
      /* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
/* for desktop */
      .footer{
          background: #000;
          color: #8a8a8a;
          font-size: 14px;
          padding: 60px;
      }
      .footer p{
          color: #8a8a8a;

      }
      .footer h3{
          color: #fff;
          margin: 20px;
      }
      .footer-col-1,.footer-col-2,.footer-col-3, .footer-col-4{
         min-width: 30%;
         margin-bottom: 20px;
      }
      .footer-col-1{
          flex-basis: 30%;
      }
      .footer-col-2{
          flex: 1;
          text-align: center;

      }
      .footer-col-2 img{
          width: 180px;
          margin-bottom: 20px;

      }
      .footer-col-3,.footer-col-4{
          flex-basis:12% ;
          text-align: center;}
          ul{
              list-style-type: none;
          }
    
        .footer hr{
            border: none;
            background: #b5b5b5;
            height: 1px;
            margin: 20px 0px;
        }
        .copyright{
            text-align: center;
        }
        .menu-icon{
width: 28px;
height: 30px;
margin-left: 20px;
display: none;

        }
         

          /*-------media query for menu------*/
          @media only screen and (max-width:800px) {
              nav ul{
                  position: absolute;
                  top: 70px;
                  left: 0;
                  background: #333;
                  width: 100%;
                  overflow: hidden;
                  transition:max-height 0.5s;
              }
              nav ul li {
                  display: block;
                  margin-right: 50px;
                  margin-top: 10px;
                  margin-bottom: 10px;
            
              }
              nav ul li a{
                  color: #fff;
              }
              .menu-icon{
                  display: block;
                 cursor:pointer ;
              }}
              /*..........menu......*/
              .row-2{
                     justify-content: space-between;
                     margin:100px auto 50px ;
              }
            /*--------single product details*/
            .background-color{
                background-color: #fff,#ffd6d6;
                
            }
            .row{
                text-align: center;
            }
           .single-product{
               margin-top: 50px;
           }
           .single-product .col-2 img{

               padding: 0;
           }

           .single-product.col-2{
               padding: 50px;
           }
           .single-product.col-2 p{
            
            text-align:center;
            margin:0x 50px;
           
           }
          
            /*-------contact page------*/
  .contact{
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items:center ;
flex-direction:column;
}          
.contact.content{
    max-width: 800px;
    text-align: center;
    

}
.contact.content h2{
    font-size:  36px;
    font-weight:500 ;
    color: #fff;
    
}
.containerC{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
} 
.containerC .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerC .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerC .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    font-size: 22px;
    }
    .containerC .contactinfo .box .text{
        display: flex;
        margin-left:  20px ;
        font-size:  16px;
        flex-direction: column;
        color: #fff;
        font-weight: 300px; 

    }
    .containerC .contactinfo .box .text h3{
        font-weight: 500;
        color: #00bcd4;
    }
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 00.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] 
{
    width: 100px;
    background: #00bcd4;
    color:#fff,#ffd6d6;
    border: none;
    cursor: pointer;
    padding: 10px;
    font: size 18px; ;

}
/*----------media query for contact page-------*/
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .containerC{
        flex-direction: column;
    }
    .containerC .contactinfo{
        margin-bottom: 40px;
    }
    .containerC .contactinfo,.contactForm{
        width: 100%;
       
    }
}

        
        /*----------media query for less the 600 screen size-------*/
        @media only screen and (max-width: 900px) {
            .row {
                text-align: center;

            }
            .col-2,.col-3,.col-4{
                flex-basis: 100%;
            }
            .footer {
                position: absolute;
                background:black;
                width: 100%;
                overflow: hidden;
                transition:max-height 0.5s;
            }
        }
